@model HomeIndexViewModel
@{
    ViewBag.Title = "Ana sayfa";
}

<section class="section banner mb-5" style="margin-top:100px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-10">
                <h2 class="cd-headline clip is-full-width mb-4 ">
                    Fener Grafik Sanat <br>
                    <span class="cd-words-wrapper text-color">
                        <b class="is-visible">Futbol </b>
                        <b>Basketbol</b>
                        <b>Söz tasarımları</b>
                    </span>
                </h2>
                <p>Fener Grafik Sanat, Fenerbahçe taraftarının gün içerisinde sıkça kullandıkları teknolojik cihazlarına, hiçbir kâr amacı gütmeden duvar kağıtları tasarlamaktadır.</p>
            </div>
        </div>
    </div>
</section>



<section class="portfolio ">
    <div class="container">
        <div class="row mb-3">
            <div class="col-10">
                <div class="btn-group btn-group-toggle " data-toggle="buttons">
                    <label class="btn active ">
                        <input type="radio" name="shuffle-filter" value="all" checked="checked" />Tüm Tasarımlar
                    </label>
                    @foreach (var kategori in Model.Kategoriler)
                    {
                        if (Model.Tasarimlar.Any(x => x.Kategori.KategoriAd == kategori.KategoriAd))
                        {
                            <label class="btn">
                                <input type="radio" name="shuffle-filter" value="@kategori.KategoriAd" /> @kategori.KategoriAd
                            </label>
                        }
                    }

                </div>
            </div>
        </div>

        <div class="row shuffle-wrapper portfolio-gallery">

            @foreach (var tasarim in Model.Tasarimlar)
            {
                <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups="[&quot;@tasarim.Kategori.KategoriAd&quot;]">
                    <div class="position-relative inner-box">
                        <a class="custom-overlay-a" href="@Url.Action("Index", "Tasarim", new { id = tasarim.Id, slug = tasarim.Slug })">

                            <div class="image position-relative ">
                                <img src="@Url.OnizlemeTasarimResim(tasarim.ResimYolu)" alt="@tasarim.TasarimAdi" class="img-fluid w-100 d-block">
                                <div class="overlay-box">
                                    <div class="overlay-inner">

                                        <h5 class="mb-0 custom-overlay-h5">
                                            @{
                                                string tasarimAdi = tasarim.TasarimAdi;


                                                if (tasarim.TasarimAdi.Length > 30)
                                                {
                                                    var tmp = tasarimAdi.Substring(0, 30);
                                                    if (tmp.LastIndexOf(' ') > 0)
                                                    {
                                                        tasarimAdi = tmp.Substring(0, tmp.LastIndexOf(' ')) + "...";
                                                    }
                                                }

                                                @tasarimAdi }
                                        </h5>
                                        <p class="custom-overlay-p">@tasarim.Kategori.KategoriAd</p>

                                    </div>
                                </div>
                            </div>

                        </a>

                    </div>
                </div>
            }


        </div>
        <div class="text-center mt-3"><a id="GaleriLink" href="@Url.Action("Index","Galeri")">Tüm Tasarımları Görmek İçin Tıklayınız</a></div>

    </div>
</section>

<section class="section service-home">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="mb-2 ">İstatistikler</h2>
                <p class="mb-5">İlgilisine Fener Grafik Sanat'tan İstatistikler</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="service-item mb-5" data-aos="fade-left">
                    <i class="ti-menu" style="color:#ffd32a;"></i>
                    <h4 class="my-3">Kategori Sayısı</h4>
                    <p class="font-weight-bold" style="font-size:50px;color:#192a56;">@Model.KategoriAdet</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service-item mb-5" data-aos="fade-left" data-aos-delay="450">
                    <i class="ti-image" style="color:#ffd32a;"></i>
                    <h4 class="my-3">Tasarım Sayısı</h4>
                    <p class="font-weight-bold" style="font-size:50px;color:#192a56;">@Model.ToplamTasarimAdet</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service-item mb-5 mb-lg-0" data-aos="fade-left" data-aos-delay="750">
                    <i class="ti-download" style="color:#ffd32a;"></i>
                    <h4 class="my-3">İndirilme Sayısı</h4>
                    <p class="font-weight-bold" style="font-size:50px;color:#192a56;">@Model.ToplamIndirilmeAdet</p>
                </div>
            </div>

        </div>
    </div>
</section>
